.chip_button {
    background-color: var(--card-bg);
    border-radius: 2rem;
    padding: 0.4rem 1.3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: background 0.2s;
    width: fit-content;

    &:hover {
        background-color: var(--selected);
    }
}

.MuiDivider-root {
    border-color: var(--secondary-text) !important;
}

.MuiButtonBase-root.MuiTab-root {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    text-transform: capitalize;
    min-width: 0;
    min-height: 3rem;
}

.MuiButtonBase-root.MuiTab-root.Mui-selected {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--text);
}

.MuiTabs-indicator {
    height: 2px !important;
    background-color: var(--text) !important;
}

.menu_popup {
    .MuiMenu-paper {
        background-color: var(--card-bg);
        border-radius: 0.5rem;
        box-shadow: var(--shadow);
        padding: 0;
    }

    .MuiMenu-list {
        display: grid;
        gap: 0.5rem;
        padding: 0;
    }

    .MuiSvgIcon-root {
        font-size: 1.5rem;
        padding-left: 3px;
    }

    .menu_item {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: "Roboto", sans-serif;
        color: var(--text);
        background-color: transparent;
        font-size: 1rem;
        border-radius: 0.5rem;
        line-height: 1.5;
        padding: 0.5rem 0.5rem;
        min-width: 200px;

        &:hover {
            box-shadow: var(--shadow);
            border: none;
            background-color: var(--selected);
        }
    }
}

.modal_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 80%;
    border-radius: 1rem;
    background-color: var(--card-bg);
    box-shadow: var(--shadow, 0px 2px 24px 0px rgba(0, 0, 0, 0.2));
    padding: 32px;

    .video_link.MuiTypography-root {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .copy.MuiButton-root {
        background-color: transparent;

        .MuiSvgIcon-root {
            font-size: 1.5rem;
            color: var(--text);
        }
    }
}